
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
    <div> 


        <img src="~/UserImages/404.gif" width="1200px" height="800px" />
    </div>
</body>
</html>
